*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-1:#602d0d;
  --color-2:#ff8b42;
  --color-3:#FFF5EB;

  --font-family-1:'Josefin Sans', sans-serif;
  --font-family-2:'Permanent Marker', cursive;
}